<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <!-- Default NuGet.org repository -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />

    <!-- GitHub Packages repository -->
    <add key="GitHub" value="https://nuget.pkg.github.com/ahmedabdullai/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="ahmedabdullai" />
      <add key="ClearTextPassword" value="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" />
    </GitHub>
  </packageSourceCredentials>
</configuration>